pkgbase = component-detection
	pkgdesc = Scans your project to determine what components you use
	pkgver = 6.3.0
	pkgrel = 1
	url = https://github.com/microsoft/component-detection
	arch = x86_64
	license = MIT
	makedepends = dotnet-sdk
	depends = icu
	options = staticlibs
	source = component-detection-6.3.0.tar.gz::https://github.com/microsoft/component-detection/archive/refs/tags/v6.3.0.tar.gz
	b2sums = 8efa3e702ae388dad7234d20060e229654118eeeecfba53fad9affe06cc313dab55594874312a857402ef19522eedf3bbdc24d85e7d5bdef5418f617835452aa

pkgname = component-detection
