pkgbase = component-detection
	pkgdesc = Scans your project to determine what components you use
	pkgver = 3.6.4
	pkgrel = 1
	url = https://github.com/microsoft/component-detection
	arch = x86_64
	license = MIT
	makedepends = dotnet-sdk-6.0
	depends = icu
	options = staticlibs
	source = component-detection-3.6.4.tar.gz::https://github.com/microsoft/component-detection/archive/refs/tags/v3.6.4.tar.gz
	b2sums = 757b620e088f1b6ab66324708921ed6a9929da13eadaa290f97a4072e7b2012ff5b66c81b5cba3a221ee30a3dfee00e2a396ff9dfbf57db90120975f27b03d15

pkgname = component-detection
