pkgbase = component-detection
	pkgdesc = Scans your project to determine what components you use
	pkgver = 7.1.11
	pkgrel = 1
	url = https://github.com/microsoft/component-detection
	arch = x86_64
	license = MIT
	makedepends = dotnet-sdk
	depends = icu
	options = staticlibs
	source = component-detection-7.1.11.tar.gz::https://github.com/microsoft/component-detection/archive/refs/tags/v7.1.11.tar.gz
	b2sums = 63ea24ffee81761a9c32b6d1e462fc47b4f572a21bcf93f2dea3b9db129815c3d6176a34dd04049907981506062bfd46f3aa32819dbbcef92ca01271904ab36b

pkgname = component-detection
